.table {
    border: 2px solid black;
    background: white;
    color: rgb(32, 51, 51);
    list-style: none;
    font-size: 3em;
    
    position:absolute;
  width:100px;
  height:100px;
  background-color: #673AB7;
  margin:auto auto;
  left:0;
  right:0;
  top: 0;
  bottom:0;
}

.line {
    border: 2px solid black;
    background: rgb(145, 158, 216);
    text-decoration: none;
    color: black;
    width: 30vw;
    hight: 500px;
}

a {
    text-decoration: none;
    list-style: none;
}

.line__dodaj {
    font-size: 2em;
}
